/* AppComponent's private CSS styles */

body > div > app-root > app-map-box {
  width: 50%;
  height: auto;
  margin: 5rem;
}
*{
  text-align: center;
}

h1 {
  margin: auto;
  margin-top: 1rem;
  text-align: center;
}

