


<div class=" text-center">
  <div id="choice">
    <h3>Choisissez une ville</h3>
  
    <p>
      <label for="city">Ville: </label>
      <input [(ngModel)]="city" type="text" name="city" id="city" />
      <button (click)="getWeather()">envoyer</button>
    </p>
    <p>Pour la ville de {{city}} :<img *ngIf="icon" src="http://openweathermap.org/img/wn/{{ icon }}@4x.png" alt="weather-icon" /></p>
  </div>
    
    <div *ngIf="main">
      <p>
        {{ description }} avec une température de {{ main.temp }}°C 
      </p>
      <p>
        pour un ressenti
        de {{ main.feelsLike }}°C.
      </p>
      <p> température minimale :
        {{main.tempMin}}
      </p>
      <p> température maximale :
        {{main.tempMax}}
      </p>
    </div>
</div>   

  <div class='clouds'>
    <div class='clouds-1'></div>
    <div class='clouds-2'></div>
    <div class='clouds-3'></div>
  </div>



