<h1>{{title}}</h1>

<!-- <app-clock></app-clock>-->

<nav>
  <!--<app-show-ip></app-show-ip>-->
  <a routerLink="home">Accueil</a>
  <a routerLink="cities">Cities</a>
  <a routerLink="temperature-form">Temperature</a>
  <a routerLink="map-box">Map</a>

  <!-- <app-temperature-form></app-temperature-form> -->
  <!--<a routerLink="/city-form">City add</a> partie de Jules-->
</nav>
<router-outlet></router-outlet>


<div class='clouds'>
  <div class='clouds-1'></div>
  <div class='clouds-2'></div>
  <div class='clouds-3'></div>
</div>
